<header>
    <div class="logo">
        <a href="index.html">
            <img src="assets/jerad_logo.png" alt="JERAD logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="services.html">Servicios</a></li>
            <li><a href="projects.html">Proyectos</a></li>
            <li><a href="resources.html">Recursos</a></li>
            <li><a href="team.html">Equipo</a></li>
        </ul>
    </nav>
    <a href="contact.html" class="contact-btn">Contacto</a>
</header>